/* Reinici bàsic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cos de la pàgina */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
    font-family: Arial, sans-serif;
}

/* Tarjeta principal */
.pokemon-card {
    background-color: #f5f6fa;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Imatge del Pokémon */
.pokemon-image {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

/* Informació */
.pokemon-info {
    background-color: #c7f5c4;
    border-radius: 15px;
    padding: 15px;
}

/* Nom del Pokémon */
.pokemon-name {
    font-size: 32px;
    font-family: Verdana, sans-serif;
    color: #2f3640;
    margin-bottom: 10px;
}

/* Tipus generals */
.pokemon-type {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* Tipus Planta */
.plant {
    background-color: #44bd32;
}

/* Tipus Verí */
.poison {
    background-color: #8e44ad;
}

/* Descripció */
.pokemon-description {
    font-size: 14px;
    color: #636e72;
    margin-top: 10px;
    line-height: 1.5;
}
